

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffeff8;
}

/* HEADER */
.header {
    padding: 20px 20px;
}
.navbar {
  display: flex;
  align-items: center; /* يخليهم بنفس المستوى */
  justify-content: space-between; /* كل طرف لحاله */
}
.nav-left {
  display: flex;
  align-items: center;
}
.logo {
    width: 70px;        
    height: 70px;       
    border-radius: 50%; /* بخليها دائرة */
    object-fit: cover;  /* بقص الصورة بشكل مرتب */
}
.brand_name {
    margin-left: 10px;
    font-size: 32px;
    color:#d4a744;
    font-family: 'Great Vibes', cursive;/*عشان اعمل الخط الي بدي اياه*/
}
.nav-center {
  display: flex;        /* يخلي العناصر جنب بعض */
  list-style: none;     /* يشيل النقاط */
  gap: 30px;          /* مسافة بينهم */
}
.nav-center a {
  text-decoration: none;   /* يشيل الخط اللي تحت */
  font-size: 15px;         /* تكبير الحجم */
  color: #d4a744;          /* غيري اللون زي ما بدك */
  font-weight: 600;
  font-family: 'Playfair Display', serif; /* اختياري لستايل أنيق */
}
.welcome{
   font-size: 32px;
    color:#d4a744;
    padding: 15px 30px;
    font-family: 'Great Vibes', cursive;/*عشان اعمل الخط الي بدي اياه*/   
}

/* HERO */
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: 600px;
  border-radius: 20px;
}


/* CATEGORIES */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 30px;
}

.cat-btn {
  text-decoration: none;
  background-color: #ffffff;
  color: #333;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
}

.cat-btn:hover {
  background-color: #f888a8;
}

/* PRODUCTS */
.products-section {
  padding: 40px;
}

.products-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* PRODUCT CARD */
.product-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
}

.product-card p {
  text-align: center;
  color: #777;
}

.product-card p:hover {
  color: #000;
  transform: scale(1.025);
}

.product-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card:hover img {
  transform: scale(1.05);
}

.price {
  color: #2a502a;
  font-weight: bold;
  margin: 10px 0;
}

.cart-btn {
  background-color: #ffffff;
  border: black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}


/* TOAST MESSAGE */
.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #F39EB6;
  color: #333;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE PRODUCTS */
@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
